* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-block, .details-block {
  max-width: 40%;
  padding: 5px;
  height: auto;
  border: 1px solid #03030a;
}

.list__item, .details-list__item {
  list-style: none;
  max-width: 150px;
  height: auto;
  padding: 5px;
  margin-top: 5px;
  cursor: pointer;
  border: 1px solid #424040;
}

.details-list__item > img {
  width: 100%;
  height: 100%;
}